@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
}
.shopnow{
    position: absolute;
    left: 5px;
    top: 140px;
    color: #212529;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Square Peg', cursive;
    transform: rotate(340deg);
}