@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
.contianer-fluid{
    width: 100%;
    margin-top: 70px;
    padding: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    gap: 10px;
}
img{
    width: 300px;
    height: 500px;
    flex: 1 1 auto;
}
h4{
    font-size: 26px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.price{
    margin-top: 10px;
    margin-bottom: 60px;
}
.details{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 60px 20px 10px 20px;
    border-radius: 20px;
    flex: 1 1 auto;
}
h1{
    color: #535665;
    
    font-size: 20px;
    opacity: .8;
    font-weight: 400;
}
.rating{
    font-size: 16px;
    font-weight: 500;
    color: #282c3f;
    margin-top: 8px;
    display: flex;
}
.unavailable{
    color: red;
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
    font-size: 14px;
}
.available{
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
    font-size: 14px;
}